@import "tailwindcss";

@theme inline {
  --color-background: #fcf0fa;
  --color-background-alt: #f3d9ee;
  --color-background-shadow: #f3d9ee;
  /* --color-background-alt: #c5d78f; */
  --color-foreground: #1c0f13;
  --color-accent: #eb6534;
  --color-accent-contrast: #ffffff;
  --font-sans: var(--font-inter-tight);
  --font-serif: var(--font-bodoni-moda);
}

body {
  @apply bg-background text-foreground;
  @apply font-sans;
}
