@import "tailwindcss";

@theme inline {
  --color-background: #f5f9e9;
  --color-background-alt: #e9f1d2;
  --color-background-shadow: #99a870;
  /* --color-background-alt: #c5d78f; */
  --color-foreground: #1c0f13;
  --color-accent: #eb6534;
  --color-accent-contrast: #ffffff;
  --font-sans: var(--font-inter-tight);
  --font-serif: var(--font-bodoni-moda);
}

body {
  @apply bg-background text-foreground;
  @apply font-sans;
}
